<div class="container">
  <form [formGroup]="formTeste" (ngSubmit)="salvar()">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input formControlName="nome" matInput>
      <mat-error *ngIf="formTeste.get('nome')?.hasError('required')">Informe o nome</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea formControlName="observacao" matInput></textarea>
    </mat-form-field>

    <button type="submit" color="primary" mat-raised-button type="button" (click)="salvar()">
      salvar
    </button>
  </form>
</div>
